*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #730071;
    padding: 30px 0;
    box-shadow: black 0px 4px 6px -1px;
    color: #00ffff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    margin: 50px 0;
    flex: 1;
}

footer{
    background-color: #730071;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    padding: 30px 0;
    box-shadow: black 0px -4px 6px -1px;
    color: #00ffff;
}

.wrapper{
    max-width: 90%;
    margin: 0 auto;
}

.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.post{
    background-color: #f0f0f0;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    box-shadow: black 0px 4px 6px -1px;
}
.post img{
    width: 100%;
    height: 200px;
    border-radius: 10% 10% 0 0;
}

.post_text{
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post_text h4{
    margin-bottom: 10px;
}

.post_text p{
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

.post .date{
    text-align: right;
    margin-top: auto;
    padding-bottom: 15px;
    padding-right: 15px;
}

.datec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.datec a{
    text-decoration: none;
    font-size: 30px;
    color: blue;
    cursor: pointer;
}

.datec a:hover{
    color: darkblue;
}

.datec button{
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.datec button:hover{
    background-color: darkred;
}

.new{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.new h3{
    font-size: 40px;
}

.newa{
    display: flex;
    text-decoration: none;
    background-color: green;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: black 0px 4px 6px -1px;
}

.new a{
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
}

.newa:hover{
    box-shadow: black 0px 6px 8px -2px;
}

.create form{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 50px;
    border-radius: 15%;
    background-color: #f0f0f0;
    box-shadow: black 0px 4px 6px -1px;
    margin: 50px auto;
}

.create form input, .create form textarea{
    margin-bottom: 15px;
    background-color: lightgrey;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.create form label{
    font-weight: bold;
    align-items: center;
    display: block;
}

.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.group{
    margin: 0 auto;
}

.create input:hover, .create textarea:hover{
    cursor: pointer;
    background-color: grey;
}

.create h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
